<div class="row center GoHero">
            <div class="GoHeroCard">
                
                <div class="GoHeroCardInner">
                    <h2>Never worry if  it’s <br> a deal again</h2>
                    <h4>Calculate your offer in 5 seconds ...</h4>
                    <h5>Sign up and start your seven day free trial today</h5>

                    <div class="GoHeroCardButtons">  
                        <div class="GoHeroCardButtons">
                            <a class="" href="/user/register">
                                <button type="button" class="waves-effect waves-light btn-large">Sign Up</button>
                            </a>
                            <p>- new users</p>
                        </div>

                        <div class="GoHeroCardButtons">
                            <a class="" href="/user/login">
                                <button type="button" class="waves-effect waves-light btn-large">Log In</button>
                            </a>
                            <p>- existing users</p>
                        </div> 
                    </div>

                </div>


                <div class="GoHeroVideoCardInner">
                    <h2>How it works</h2>
                        <div class="GoHeroVideoCardContainer">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/soyRQ9SATB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                </div>
            </div>
        </div>